%ul.nav.nav-list
  %li.nav-header Quick Lings
  = active_nav_item_when_current_page "My Postings", postings_path
  = active_nav_item_when_current_page "My Inventory", inventory_items_path
  = active_nav_item_when_current_page "Items Pending Delivery", pending_delivery_inventory_items_path
